// Tan
$tan01: seashell;
$tan02: wheat;
$tan03: papayawhip;
$tan04: oldlace;
$tan05: linen;
$tan06: ivory;
$tan07: cornsilk;
$tan08: blanchedalmond;
$tan09: bisque;
$tan10: antiquewhite;

// Off White
$white01: snow;
$white02: whitesmoke;
$white03: ghostwhite;
$white04: gainsboro;


// Red
$red01: salmon;
$red02: mistyrose;
$red03: lightsalmon;
$red04: lightcoral;
$red05: darksalmon;
$red06: coral;

// Green
$green01: mintcream;
$green02: darkseagreen;
$green03: darkolivegreen;
$green04: beige;

// Blue
$blue01: lightsteelblue;
$blue02: lightslategrey;
$blue03: cornflowerblue;
$blue04: azure;
$blue05: aliceblue;
$blue06: navy;
$blue07: midnightblue;


// Grey
$grey01: dimgray;
$grey02: silver;
$grey03: gray;

// Purple
$purple01: rebeccapurple;
$purple02: blueviolet;
$purple03: darkslateblue;
$purple04: indigo;
