@import "colors.scss";

:root {
  font-size: calc(16px + 3vw);
}

html {
    background: $white02;
    margin-left: 1em;
    font-size: 16px;
    // font-size: 6vw;
    // font-size: 6vmin;
}

@media only screen and (min-width: 800px) {
    background: blue;
    font-size: 16px;
}

body > div {
    max-width: 800px;
}

h1 {
    // font-size: 5.9vw;
    // font-size: 15vw;
    color: $red04;
}

h2 {
    // font-size: 3.0vh;
}

p, li, a {
    // font-size: 2vmin;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

h2, h3, h4, h5, h6 {
    color: $grey01;
}

h2 {
    margin-top: 1em;
    margin-bottom: 6px;
}

p {
    margin-top: 6px;
    margin-bottom: 6px;
    color: $grey01;
    font-family: serif;
}

a {
    text-decoration: none;

    color: $blue07;
    border-bottom: 1px solid $blue07;

    transition: .5s;

    &:hover {
        color: $blue06;
        border-color: $blue06; 
    }

    &:visited {
        color: $purple01;
        border-color: $purple01;
    }

    &:visited:hover {
        color: $purple02;
        border-color: $purple02;
    }
}

ul {
    margin: 0;
    padding: 0;
}
